.Sidebar {
  background-color: white;
  width: 285px;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  .Sidebar-items {
    overflow: auto;
    height: 475px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    li:first-child {
      border-top: 1px solid grey;
    }
  }
  .Activity {
    padding: 10px 20px;
    // border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  input {
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid grey;
    outline: none;

    &:focus {
      border: 1px solid grey;
    }
    &:active {
      border: 1px solid grey;
    }
    &:hover {
      border: 1px solid grey;
    }
  }
  .Placeholder, .No-results{
    text-align: center;
    font-weight: 600;
  }
}
